<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="SimpleCalculator" Language="1033" Version="1.0.0.0" Manufacturer="Nathan Murdica" UpgradeCode="e6a9904c-68cc-415a-a7e4-7a06576a0f96">
		<Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes"/>

		<Feature Id="ProductFeature" Title="SimpleCalculator" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="SimpleCalculator" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="SimpleCalculator.exe" Guid="*">
				<File Id="SimpleCalculator.exe" Name="SimpleCalculator.exe" Source="$(var.SimpleCalculator.TargetDir)SimpleCalculator.exe" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
